<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
</head>
<body>
<div sec:authorize="isAnonymous()">未登录可见  <a th:href="@{/login.html}">请登录</a></div>
<div sec:authorize="isAuthenticated()">
    已登录
    已登录用户名：<span th:text="${#authentication.name}"></span><span sec:authentication="name"></span>
    已登录用户权限：<span sec:authentication="principal.authorities"></span>
</div>
<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    有ADMIN角色可见
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    有ADMIN角色可见
</div>
<div sec:authorize="hasAuthority('admin')">
    有admin权限可见
</div>
<div sec:authorize-url="/test/cc">
    能访问/test/cc的才能看见
</div>
</body>
</html>